.row-layout-start {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.row-layout-start-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.row-layout-end {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
}

.row-layout-center-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.column-layout-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.column-layout-start-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.column-layout-end {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.column-layout-center-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
